<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickCash"
        tools:targetApi="31">
        <activity
            android:name=".ui.SearcherPreferredListDashboard"
            android:exported="false" />
        <!-- Main Activity (Launcher) -->
        <activity
            android:name=".ui.FrontPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Create Account Activity (Added this) -->
        <activity
            android:name=".ui.CreateAccount"
            android:exported="true" /> <!-- Reset Password Activity -->
        <activity
            android:name=".ui.ResetPasswordActivity"
            android:exported="true" /> <!-- Dashboard Activity -->
        <activity
            android:name=".ui.CreatorDashboard"
            android:exported="true" /> <!-- Searcher Dashboard Activity -->
        <activity
            android:name=".ui.SearcherDashboard"
            android:exported="true" /> <!-- Login Activity Activity -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.CreateJobPage"
            android:exported="true" />
        <activity
            android:name=".ui.FilterPage"
            android:exported="true" />
    </application>

</manifest>